---
Checks: "-*,\
cert-*,\
-cert-err58-cpp,\
clang-analyzer-*,\
cppcoreguidelines-*,\
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,\
-cppcoreguidelines-pro-type-vararg,\
-cppcoreguidelines-avoid-magic-numbers,\
misc-*,\
-misc-no-recursion,\
modernize-*,\
-modernize-use-trailing-return-type,\
readability-*,\
-readability-magic-numbers,\
-readability-redundant-access-specifiers,\
performance-*,\
"
HeaderFilterRegex: '*\.(hpp|h)$'
...

