---
BasedOnStyle: WebKit
ColumnLimit: '100'
IndentCaseLabels: 'true'
Language: Cpp
NamespaceIndentation: None
#CompactNamespaces: 'true'
FixNamespaceComments: 'true'
SortIncludes: 'false'
#SplitEmptyFunction: 'false'
#SplitEmptyRecord: 'false'
#SplitEmptyNamespace: 'false'
#BeforeCatch: 'false'
#BeforeElse: 'false'
Standard: Cpp17
TabWidth: '4'
UseTab: Never
...
