# -*- mode: gitignore; -*-

# git self
*.patch

# other dev files
*.orig
*.org
*.bak
*.rej

# emacs
*~
\#*\#

# eclipse
.project
.settings

# eclipse Sigasi
.library_mapping.xml

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

