# -*- mode: gitignore; -*-

# git self
*.patch

# other dev files
*.orig
*.org
*.bak
*.rej

# emacs
*~
\#*\#

# eclipse
.project
.settings

# eclipse Sigasi
.library_mapping.xml

# MSVC
/.vs/*
CMakeSettings.json

# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# misc
/build/
/.vscode/
/.cache/

# temporary Readme file
BoostStacktrace.txt
BoostTest.txt
CLangSatanizer.CMake.txt
CMakeClangFormat.txt
PCH.txt
